<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ly.bithive.sugar">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ProfileActivity">

        </activity>
        <activity android:name=".activity.StartActivity">

        </activity>
        <activity android:name=".activity.MessagingActivity">

        </activity>
        <activity android:name=".activity.SportActivity" >

        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.BmiActivity" />
        <activity android:name=".activity.ReportActivity" />
        <activity
            android:name=".activity.FoodActivity"
            android:label="@string/title_activity_food"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.StatsActivity" />
        <activity android:name=".activity.InitUserInfoActivity" />
        <activity android:name=".activity.WalkThroughActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShotActivity" />
        <activity android:name=".activity.WaterActivity" />
        <activity android:name=".activity.MainActivity">

        </activity>

        <receiver android:name=".notification.NotifierReceiver" />
        <receiver android:name=".notification.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>